@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
//@useMath

// Calculations:

$bodyHeight: 100%;
$footerHeight: 60px;


html, body {
  padding: 0px;
  margin: 0px;
  background-color: $background;
  justify-content: center;
  display: block;
  position: relative;
  align-content: center;
  text-align: center;
  height: fit-content;
}

.main-content {
  width: 100%;
  // min-width: 100vw-60px;
  display: block;
  position: relative;
  min-height: 100%;
  margin-bottom: -60px;
  // height {
  //   Math.({$bodyHeight - $footerHeight})
  // }
}

.main-content:after {
  content: "";
  display: block;
  height: 60px;
}

.container {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
