@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  padding: 0px;
  margin: 0px;
  background-color: $background;
  justify-content: center;
  display: block;
  position: relative;
  align-content: center;
  text-align: center;
}

.container {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
