
// Variables
$primary: magenta;
$secondary: coral;
$triary: orangered;
$background: #445e56;






.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.triary {
  color: $triary;
}

.black {
  color: black;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow
}