.table {
  background-color: lightgray;
  width: 100vw;
}

/*=================================================
              Bootstrap Table Classes
==================================================*/

.table {
  
}

.table-striped {
  
}

.table-bordered {
  
}

.table-hover {
  
}

table-condensed {
  
}

tr.active:hover, th.active:hover, td.active:hover {
  background-color: lightgrey;
}